@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-bg-rgb: 252, 252, 252;
    --foreground-rgb: 13, 19, 33;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--light-bg-rgb));
}
